* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: black;
  color: white;
}

.app {
  padding: 2rem 1rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

input {
  appearance: none;
}